<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restaurante.nombre</title>
</head>
<body>
    <header>
        <h1>{{ restaurante.nombre }}</h1>
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#menu">Menú</a></li>
                <li><a href="#reservas">Reservas</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section id="inicio">
        <h2>Bienvenidos a {{ LaVecchia }}</h2>
        <p>{{ restaurante }}</p>
    </section>

    <section id="menu">
        <h2>Nuestro Menú</h2>
        <ul>
            {% for plato in restaurante.menu %}
                <li>{{ plato }}</li>
            {% endfor %}
        </ul>
    </section>

    <section id="reservas">
        <h2>Reserva una mesa</h2>
        <form>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            <br>
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
            <br>
            <label for="hora">Hora:</label>
            <input type="time" id="hora" name="hora" required>
            <br>
            <input type="submit" value="Reservar">
        </form>
    </section>

    <section id="contacto">
        <h2>Contacto</h2>
        <p>Estamos ubicados en {{ Montevideo }}.</p>
        <p>Teléfono: {{ 27006875 }}</p>
        <p>Email: {{ lavecchia@gmail.com }}</p>
    </section>  


</body>
</html>